<!DOCTYPE html>
<html>
<head>
  <title>YouAreWhatYou</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><span class="titler">You</span>Are<span class="titler">What</span>You</header>

<%= yield %>

</body>
</html>
